.main {
    -ms-flex: 80%; /* IE10 */
    flex: 70%;
    min-height: 90vh; /* Makes it extend to full viewport height */
    width: 100%; /* Ensures full width */
    /* Ensures padding doesn't shrink content width */
    box-sizing: border-box;
  }

.container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    font-size: 3vh;
    text-align: center;
    color:#ebecea;
    
}
.container > div {
  background-color: #ebecea;
  font-size: 30px;
  text-align: center;
}
.column {
    flex: 3;
}

.block-text{
  position: fixed;
  top: 50%;
  left: 50%;
  font-size:48pt;
  background-color:transparent;
  cursor: pointer;
}

.pauly-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  font-size:48pt;
  background-color:transparent;
}

.pauly-text h2 {
  font-weight: 400;
}

.web-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-114%, 35%);
  font-size:48pt;
  background-color:transparent;
}
.web-text h2 {
  font-weight: 400;
}

.design-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(15%, 52%);
  font-size:48pt;
  background-color:transparent;
}
.design-text h2 {
  font-weight: 400;
}

.square {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 142pt;
  height: 130pt;
  background-color: #d3d3d3;
  z-index: -1;
}