.main {
    -ms-flex: 80%; /* IE10 */
    flex: 70%;
    min-height: 90vh; /* Makes it extend to full viewport height */
    width: 100%; /* Ensures full width */
    /* Ensures padding doesn't shrink content width */
    box-sizing: border-box;
  }

  /* Top text */
.pauly-block {
    text-align: right;
    padding-top: 4px;
    margin-right: -1vh;
    font-size: 14vh;
    padding-top: 4px;
    padding-left:8vw;
    margin-right: -1vh;
    padding-right:8vw;
}

.container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    font-size: 3vh;
    text-align: center;
    color:#ebecea;
    
}
.container > div {
  background-color: #ebecea;
  font-size: 30px;
  text-align: center;
}
.column {
    flex: 3;
}
.square {
  height: 12.05vh;
  width: 11.3vh;
  background-color: #39292a;
  z-index: 1;
}
.thirdtop-square {
  height: 3.7vh;
  width: 11.3vh;
  background-color: #39292a;
}

.outgrid-text {
    position: fixed;
    color:#39292a;
    background-color: transparent;
}

.pauly-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:64pt;
  background-color:transparent;
}

.web-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-114%, -20%);
  font-size:64pt;
  background-color:transparent;
}

.design-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(15%, 10%);
  font-size:64pt;
  background-color:transparent;
}